.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #607d8b36;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header *{
  width: 15em;
  margin: 5px;
  height: 2em;
}
.App-link {
  color: #09d3ac;
}
